<h1>Movies</h1>
<%link_to "New Movie", new_movie_path%>
<%= @movie33.each do |movie| %>
    <div>
        <%=movie.inspect%>
        <%=link_to "Edit Movie ",edit_movie_path(movie)%>
        <%=link_to "Delete Movie", movie_path(movie),method: :delete, data: {confirm:"are you sure?"}%>
        
    </div>

<%end%>
